<%= form_with(model: mod, local: true) do |form| %>
  <% if mod.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mod.errors.count, "error") %> prohibited this mod from being saved:</h2>

      <ul>
        <% mod.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :icon %>
    <%= form.text_field :icon %>
  </div>

  <div class="field">
    <%= form.label :bgcolor %>
    <%= form.text_field :bgcolor %>
  </div>

  <div class="field">
    <%= form.label :table_id %>
    <%= form.text_field :table_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
