<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @table.title %>
</p>

<p>
  <strong>Fields:</strong>
  <%= @table.fields %>
</p>

<%= link_to 'Edit', edit_table_path(@table) %> |
<%= link_to 'Back', tables_path %>
